

<div class="container">

    ${mountainData.map(entry => `

        <div class="card" style="width: 30rem;">
            <a href = "/mountains/${entry.id}"><img class="card-img-top" src="${entry.image}" alt="${entry.name}"></a>
            <div class="card-body">


   
              <p class="card-text"><h3>Distance: ${entry.distance}</h3>
                <h3>Location: ${entry.location}</h3></p>
             ${getReviewDetails.map(entry => {
            return `
            <br><a href="/mountains/${entry.id}/review/${entry.id}" class="btn btn-primary">Click here to see ${entry.reviewer_name} 's Review</a><br>

            `}).join(' ')}
              
            </div>
          </div>
  

</div>







<a href="/" class="btn btn-primary">Return Home</a>
<a href="/waypoint/${entry.id}" class="btn btn-primary">Plot your own path!</a>`)}

