<form action ='/users/signup' method='POST'>
    <label>First Name
       <input type='text' name='first_name' placeholder="Enter Name"/>
    </label>
     <br>
     <label>Last Name
        <input type='text' name='last_name' placeholder="Enter Name"/>
     </label>
      <br>
     <label>Email
        <input type='text' name='email' placeholder="Enter your Email"/>
     </label>
    <br>
    <label>Password
        <input type='password' name='password' placeholder="Enter Password"/>
    </label>
    <button type='submit'>Sign up!</button>
</form>