<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canvas Practice</title>
</head>
<body>
   

    <canvas id="canvas" width="400px" height="200px">
    </canvas>

  
    <button type='submit' id="submit2">save image</button>
    <form id="form" action="/waypoint/upload" method="post" >
        <input type="hidden" id="image-input"  name="myinput" value="0" />
        <input type="text"   name="name" value="name" />
        <input id="submit" type="submit" value="upload">
</form>

    
</body>
<script src="script.js"></script>

</html>