body { 
  background: url("../images/dope_homepage.jpeg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode: difference;

}

.climberGuyLogo {
  position: relative;
  left: 20px;
  top: 20px;
  display: flex;
  z-index: 5;
  background-color: white;
  border-radius: 10px;
  border-color: black;
  border-width: 3px;

}

.navbar {

  float: right;
  padding-top: 5px;
  position: relative;
  bottom: 30px;
  right: 15px;
  z-index: 5;

}

.navbuttons {

  display: inline-block;
  padding-right: 10px;
  margin-bottom: 10px;
  height: 10px;
}

.navbuttons a {

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: bolder;
  color: white;
  margin: 0 15px;

}

.titlePageList {

  flex-direction: row;
  justify-content: center;
  display: flex;
  position: relative;
  top: 250px;
  right: 20px;
  z-index: 5;

}

.titlePageList li {

  list-style-type: none;
  
}

.titlePageList a {

  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  color: white;
  margin: 0 180px;

}

h1 {

  font-size: 140px;
  font-weight: bolder;
  font-family: Brush Script MT, Brush Script Std, cursive;
  color: white;
  justify-content: center;
  display: flex;
  position: relative;
  left: 140px;
  top: 90px;
  z-index: 5;
  padding-bottom: 0;

}

form {

  text-align: center;

}

.formLabelsSignUp {

  display: inline-block;
  position: relative;
  top: 130px;
  left: 90px;

}

.formLabelLogin {

  display: inline-block;
  position: relative;
  top: 130px;
  left: 55px;

}

.emailInputLogin {

  margin-left: 102px;
  border-color: black;
  border-width: 3px;
  border-radius: 10px;

}

.passwordInputLogin {

  margin-left: 40px;
  border-color: black;
  border-width: 3px;
  border-radius: 10px;

}

.loginButton {

  display: inline-block;
  position: relative;
  top: 220px;
  right: 310px;
  border-color: black;
  border-width: 3px;
  border-radius: 10px;
  background-color: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  color: black;
}

label {

  justify-content: flex-end;
  text-align: right;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

input {

  border-radius: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  
}

.firstNameInput {

  border-color: black;
  border-width: 3px;
  border-radius: 10px;

}

.lastNameInput {

  border-color: black;
  border-width: 3px;
  border-radius: 10px;

}

.emailInput {

  margin-left: 102px;
  border-color: black;
  border-width: 3px;
  border-radius: 10px;

}

.passwordInput {

  margin-left: 40px;
  border-color: black;
  border-width: 3px;
  border-radius: 10px;
}

.submitButton {

  display: inline-block;
  position: relative;
  top: 185px;
  right: 310px;
  border-color: black;
  border-width: 3px;
  border-radius: 10px;
  background-color: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  color: black;

}

.card {

  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  top: 110px;
  left: 55px;
  border-color: black;
  border-width: 3px;
  border-radius: 10px;
}

.card-img-top {

  max-height: 290px;

}

/* .singleCard {


  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  top: 110px;
  left: 330px;
  border-color: black;
  border-width: 3px;
  border-radius: 10px;

}

.card-img-top-single {

  max-height: 290px;
  display: inline-block;
  

}

.card-body-single {

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  text-align: center;

}

.loggedOutStatementText {

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-align: center;
  font-style: italic;
  position: relative;
  top: 50px;

} */


@media only screen and (max-width: 600px) {

  .card {

    max-width: 150px;
    max-height: 150px;
    flex-direction: column;
    display: flex;

  }
}

@media only screen and (max-width: 1200px) {

  .titlePageList {

    flex-direction: row;

  }

  .titlePageList a {

    margin: 0 40px;

  }

}

@media only screen and (max-width: 600px) {


  .titlePageList {

    flex-direction: column;
    display: flex;

  }

  input {

    width: 80%;
    max-width: 100px;

  }

  .submitButton {

    display: inline-block;

  }
}
